@page
@model IndexModel
@{
    ViewData["Title"] = "Gestor de inventario";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    
</div>

<div class="text-center">
    <div class="alert alert-warning display-6">
        @ViewData["Title"]
    </div>
</div>